* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */


}

/* header and navegation  */
.developer-container {
    width: 100%;
    height: 100vh;
    background: #FFF8F3;
    background-image: url("/images/header_bg.png"), url("/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;


}

.nav-title {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;

}

.unorder-list {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    padding: 10px;
    font-size: 20px;
}

.primary-color {
    color: #FD6E0A;

}

.nav-heading {
    font-size: 45px;

}

.nav-btn {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
    color: white;
}

.developer-section {
    display: flex;
    margin: 0 150px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-paragaph {

    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 25px;
}

/* marin seciton  */

main {
    width: 1140px;
    margin: 0 auto;
}

/* about section  */

.about {
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px;

}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.contact-section {
    display: flex;
    margin: 30px;
    gap: 50px;
    justify-content: space-around;
}

/* what do section  */

.what {
    margin-top: 130px;
    /* text-align: center; */
}

.what-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}
.with-icon{
    margin-bottom: 20px;
}
.icon-title{
    margin-bottom: 20px;
}

.card-title {
    margin-top: 50px;
    display: flex;
}

.card-section {
    padding: 40px;
    box-shadow: 5px 5px 5px 5px rgb(140, 133, 133);
    margin: 20px;
    border-radius: 10px;
}

/* summer section  */

.summer {
    margin: 130px;
   

}

.summer-title {
    margin-bottom: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: space-around;
}
 
.cv-button{
    background-color:  #FD6E0A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    justify-content: center;

}
.summer-section {
    align-items: center;
}

.education-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 35px;

}

.education-catagore {
    font-weight: 700;
    font-size: 22px;
}

.sub-catagore {
    font-weight: 500;
    font-size: 20px;
    color: #757575;
}

.desciptaion{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #757575;
}
.header{
    margin-bottom: 20px;
}


/* footer section  */

.footer-container{
    width: 100%;
    height: 60vh;
    background: #FFF8F3;
   padding: 130px;
}

input{
    margin-bottom: 10px;
    border: none;
}
.footer-secion{
    display: flex;
   /* margin: 130px; */
    margin: auto;
   
}

.lets-contact{
    width: 50%;
   
}

.lets-header{
     font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}
.btn-submite{
    background-color: #FD6E0A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
}
.lets-message input,textarea{
    width: 100%;
    padding: 18px 30px;
    border: 0;
    border-radius: 5px;

}